body {
    text-align: center;
    padding: 5%;
    font-size: 18px;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    padding-left: 10px;
    padding: 3px 11px;
    width: 270px;  
    height: 48px;    
}

button {
    margin-top: 15px;
    color: #2b2424;
    font-weight: bold !important;
}

h1, 
h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 36px;
}

.center {
    width: 300px;
    height: 100px;
    margin: auto;
}